* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: lightgray;
  color: white;
}

.wrapper{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n p" ;
  gap: 10px;
  grid-template-columns: 3fr 9fr;
  padding: 10px;
}

.wrapper > div{
  background: grey;
  border-radius: 10px 20px;
}

.profile{
  grid-area: p ;
}
.navbar{
  grid-area: n;
}
.header{
  grid-area: h;
}

